.events-container {
    display: flex;
    width: 100%;
    margin-bottom: 7vh;
}
.events-left {
    width: 50%;
    border-right: 3px solid white;
}

.events-right {
    width: 50%;
    border-left: 3px solid white;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 150ms linear
}

.list-view-container {
    width: 100%;
}

.list-view-option-container {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 6.9vh;
    background-color: rgb(240, 240, 240);
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.list-view-option-container svg {
    filter: invert(.5);
    cursor: pointer;
}

.mosaic-view {
    background-color: white;
    width: 49.9%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.list-view {
    background-color: white;
    width: 49.9%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

